### Задание 1

In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv("ml-latest-small/movies.csv")

In [3]:
ratings = pd.read_csv("ml-latest-small/ratings.csv")

In [28]:
movies = movies.merge(ratings, on="movieId", how = "inner")

In [6]:
def rating_grade(rating):
    if rating <= 2:
        return "низкий рейтинг"
    elif rating <= 4:
        return "средний рейтинг"
    return "высокий рейтинг"

In [32]:
movies['class'] = movies.rating.apply(rating_grade)

In [33]:
movies.head()

,movieId,title,genres,userId,rating,timestamp,class
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,3.0,851866703,средний рейтинг
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,9,4.0,938629179,средний рейтинг
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,13,5.0,1331380058,высокий рейтинг
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.0,997938310,низкий рейтинг
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,19,3.0,855190091,средний рейтинг

### Задание 2

In [12]:
keywords = pd.read_csv("ml-latest-small/keywords.csv")

In [14]:
geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

In [22]:
def geo_classify(word, geo_data):
    for key, data in geo_data.items():
        for city in data:
            if city in word.lower():
                return key
    return 'undefined'

In [23]:
keywords['region'] = keywords.keyword.apply(geo_classify, geo_data=geo_data)

In [24]:
keywords.region.value_counts()

undefined         99253
Центр               387
Северо-Запад        266
Дальний Восток       94
Name: region, dtype: int64

### Задание 3

In [35]:
years = list(range(1950, 2011))

In [36]:
def production_year(title, years):
    for year in years:
        if str(year) in title:
            return year
    return 1900

In [37]:
movies['year'] = movies.title.apply(production_year, years=years)

In [43]:
movies_year_rating = movies.groupby('year').agg({'rating': 'mean'}).sort_values(by='rating', ascending=False).reset_index()

In [45]:
movies_year_ratingназад.
1 ответ
  ·  Лучший ответ: Вы можете использовать назад.
1 ответ
  ·  Лучший ответ: Вы можете использовать .head()

   year    rating
0  1957  4.014241
1  1972  4.011136
2  1952  4.000000
3  1954  3.994220
4  1951  3.983539